.admin-panel{
    margin: 10px;
    width: 285px;
}

.menu-icn{
    font-size: 25px;
    width: 35px;
    color: var(--light);
    cursor: pointer;
    padding: 3px 6px;
    border: 1px solid var(--light);
    border-radius: var(--raduis);
    transition: var(--transition);
}
.menu-icn:hover{
    color: white;
}
.menu{
    background-color: var(--footer-c);
    border-radius: var(--raduis);
    display: none;
}
.menu li{
    margin: 5px 0;
    padding: 5px;
    transition: var(--transition);
}
.menu li:hover{
    background-color: var(--light);
}



